<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container" style="background-color: #6eb2e2; border-radius: 10px;">
    <a class="navbar-brand" href="#">
      <h3>
        SIM Activation
      </h3>
    </a>
    <!-- <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul> -->
  </div>
</nav>
<div class="container" style="background-color: #e3f2fd; border-radius: 10px; height: 800px;">
  <div class="row">
    <div class="col"
      style="text-align: center; padding: 10px 0 5px 0; background-color: lightgray; border-radius: 10px 10px 0 0;">
      <h4>Activate Your Sim</h4>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col">
      <h2>Wellcome to SIM Activation Portal</h2>
      <p>This portal is to have an automated online verification process for activating the SIM.</p>
      <p>Follow the steps to continue and activate your SIM.</p>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>